.grammar_input-93c5d72 {
    textarea {
        height: 100px;
    }
}

.input_input-93c5d72 {
    textarea {
        height: 100px;
    }
} 

.header-93c5d72 {
  height: 52px;
  background-color: #44664f;
  box-shadow: 0px -1px 5px black;
  display: flex;
  flex-direction: row;
  color: #aec8b6;
  
  div {
    margin: auto 20px;
  }
}

.main-93c5d72 {
  padding: 10px;
}

h2 {
    margin: 6px 0;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "Arial";
    font-size: 16px;
    color: var(--palette-primary);
}

.production_container-93c5d72 {
  display: flex;
  flex-direction: row;
}

.input_input-93c5d72, .grammar_input-93c5d72 {
    padding: 5px;

    textarea {
        border: none;
        border-radius: 7px;
        background-color: var(--palette-bg-light);
        color: var(--palette-text);
        width: calc(100% - 20px);
        min-width: calc(100% - 20px);
        max-width: calc(100% - 20px);
        padding: 10px;
    }
}


html {
  height: 100vh;
  background-color: var(--palette-bg-main); 
}

html, body {
  margin: 0;
  padding: 0;
}

:root {
  --palette-bg-main: #424141;
  --palette-bg-light: #505351;
  --palette-text: #d0d5c5; 
  --palette-primary: #8fae8e; 
}


.terminal_lhs-30da537 , .nonterminal_lhs-30da537 {
  font-size: 12px;
  margin-bottom: 3px;
}

.terminal_node-30da537 {
  background-color: var(--palette-primary);
  padding: 3px;
  border-radius: 3px;
  margin: 2px;
}

.non_terminal_node-30da537 {
  flex: 1;
  background-color: #fff1;
  padding: 3px;
  border: solid 1px var(--palette-bg-light);
  border-radius: 3px;
  margin-left: 2px;

  > div:last-child {
    display: flex;
    flex-direction: row;
  }
}
