.grammar_input {
    textarea {
        height: 100px;
    }
}

.input_input {
    textarea {
        height: 100px;
    }
} 

.input_input, .grammar_input {
    background-color: #424141;
    padding: 5px;

    textarea {
        border: none;
        border-radius: 7px;
        background-color: var(--palette-bg-light);
        color: white;
        width: calc(100% - 20px);
        min-width: calc(100% - 20px);
        max-width: calc(100% - 20px);
        padding: 10px;
    }
}
