html {
  height: 100vh;
  background-color: var(--palette-bg-main); 
}

html, body {
  margin: 0;
  padding: 0;
}

:root {
  --palette-bg-main: #424141;
  --palette-bg-light: #505351;
  --palette-text: #d0d5c5; 
  --palette-text-header: #8fae8e; 
}
